.registration-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: calc(100vh - var(--header-height));
    background-color: #D9D9D9;
    padding: 20px;
}

.registration-page .container {
    padding: 30px;
    width: 100%;
    max-width: 500px;
}