.header {
    width: 100%;
}

.custom-navbar {
    background-color: #1A408A !important;
    padding: 15px 0 !important;
}

.home-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.navbar-brand {
    padding: 0 !important;
    margin-right: 0 !important;
}

.navbar-toggler {
    border-color: #D9D9D9 !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28217, 217, 217, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-nav .nav-link {
    color: #D9D9D9 !important;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    padding: 8px 16px !important;
}

.navbar-nav .nav-link:hover {
    color: #FFFFFF !important;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.navbar-collapse {
    justify-content: flex-end;
}
